/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require font-awesome
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

.review-header {
  margin-left: 5vw;
}

ul > li {
  list-style: none;
}

.col-xs-4 h2, h3 {
  margin-left: 2vw;
}

.click-row {
  margin: 1vw auto;
  background-color: #0b560b;
  width: 90%;
  border: 3px solid black;
  border-radius: 5px;
  height: 20vw;



  .date {
    background-color: #db9a02;
    color: #fff;
    height: 100%;
    margin: auto 0;
    padding: 6vw 4vw 0vw 1vw;
    width: 25%;
    text-shadow: 1px 1px 1px black;
  }

  .title {
    background-color: #0b560b;
    color: #fff;
    height: 100%;
    width: 40%;
    padding: 6vw 0;
    padding-left: 2vw;
    text-shadow: 1px 1px 1px black;
  }

  .avatar {
    height: 100%;
    width: 35%;

    img {
      border: 1px solid black;
      height: 90%;
      width: 100%;
      margin-top: 1vw;

    }
  }
}


.edit-profile {
  margin-left: 5px;
  margin-right: 5px;
}

.edit-review {
  margin-left: 5px;
  margin-right: 5px;
}

#map-container, #map {
  width: 100vw;
  height: 100vh;
}

.rev-3, .rev-2 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  font-size: 30px;
}

.rev-4, .show-date {
  border-left: 1px solid black;
  border-top: 1px solid black;
  font-size: 48px;  
}

.rev-9 {
  border-left: 1px solid black;
  border-top: 1px solid black;
  font-size: 48px;
}

.rev-12 {
  border: 1px solid black;

}

.rev-9, .rev-4, .rev-3, .rev-2 {
  padding: 0;
  text-align: center;
}

.rev-1 {
  border-top: 1px solid black;
}

textarea { 
  resize: none; 
}

.vote {
  display: inline;
}

.radio {
  display: none;
}

.fa {
  padding: 10px;
}

.rating {
  /*Important used to override bootstrap CSS*/
  color: black !important;
}

.info_line_icon {
  display: inline;
  width: 20px;
  height: 20px;
}

.info_station {
  font-size: 20px;
}