<!-- <form role="form">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->

<%= form_for @review, html: {role: "form"} do |r| %>

    <%= r.label "Review Title" %>
    <%= r.text_field :title %>

    <%= r.submit :create, value: "Post Review" %>

<% end %>